<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceGrotesk-Variable.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>InstrumentSans-Variable.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>SpendSmart needs camera access to scan your receipts and automatically extract information.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SpendSmart needs access to your photo library to select receipt images for processing.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
